body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1278px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:720px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:720px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:352px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:27px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:127px;
  width:131px;
  height:27px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
