body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1788px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:720px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1277px;
  height:720px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:352px;
  width:1273px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:32px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:82px;
  width:120px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:116px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:113px;
  width:120px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u6_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:140px;
  width:120px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:116px;
  word-wrap:break-word;
}
#u8_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:173px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:0px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:238px;
  width:450px;
  height:173px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
  text-align:left;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:15px;
  width:410px;
  word-wrap:break-word;
}
#u10_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:291px;
  width:450px;
  height:76px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:26px;
  width:450px;
  word-wrap:break-word;
}
#u12_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:1338px;
  top:367px;
  width:224px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:224px;
  word-wrap:break-word;
}
#u14_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:44px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:1564px;
  top:367px;
  width:224px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:24px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:224px;
  word-wrap:break-word;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:1240px;
  top:127px;
  width:0px;
  height:0px;
}
#u16_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:327px;
  height:8px;
}
#u16_seg1 {
  border-width:0px;
  position:absolute;
  left:319px;
  top:-4px;
  width:8px;
  height:115px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:800px;
  width:525px;
  height:655px;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  text-align:right;
  line-height:20px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:400px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:360px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
  text-align:right;
  line-height:20px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:98px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:30px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:30px;
  width:400px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:5px;
  width:360px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:44px;
  text-align:right;
  line-height:20px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:60px;
  width:400px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:360px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:64px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:120px;
  height:64px;
  text-align:right;
  line-height:20px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:64px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:104px;
  width:400px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:360px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:168px;
  width:120px;
  height:44px;
  text-align:right;
  line-height:20px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u37_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:168px;
  width:400px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:360px;
  word-wrap:break-word;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:212px;
  width:120px;
  height:44px;
  text-align:right;
  line-height:20px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:98px;
  word-wrap:break-word;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:44px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:212px;
  width:400px;
  height:44px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:20px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:2px;
  width:360px;
  word-wrap:break-word;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:324px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:256px;
  width:120px;
  height:324px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:right;
  line-height:20px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:142px;
  width:98px;
  word-wrap:break-word;
}
#u45_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:324px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:256px;
  width:400px;
  height:324px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
  line-height:20px;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:360px;
  word-wrap:break-word;
}
#u47_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:70px;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:580px;
  width:120px;
  height:70px;
  text-align:right;
  line-height:20px;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:98px;
  word-wrap:break-word;
}
#u49_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:70px;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:580px;
  width:400px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
  line-height:18px;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:26px;
  width:360px;
  word-wrap:break-word;
}
